:root {
  --color: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

body {
  text-align: center;
  background-color: #848b91;
  font-family: sans-serif;
  margin-top: 2rem;
}

h1 span {
  color: var(--color);
}

input {
  width: 100px;
}

img {
  background-color: var(--color);
  padding: var(--spacing);
  filter: blur(var(--blur));
  margin-top: 3rem;
  width: 40%;
}
